databases:
  - name: plutohr_db
    plan: free
    databaseName: plutohr_db
    user: plutohr_db

services:
  - type: web
    plan: free
    name: PlutoHR
    runtime: python3.12
    buildCommand: "./build.sh"
    startCommand: "python -m gunicorn plutohr_api.asgi:application -k uvicorn.workers.UvicornWorker"    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: plutohr_db
          property: connectionString
      - key: SECRET_KEY
        generateValue: true
      - key: WEB_CONCURRENCY
        value: 4